nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

}

.about-details {
    padding: 8px;
    margin-top: 40px;
    color: white;
    font-family: cursive;
    background-color: rgb(233, 117, 136);
    width: 350px;
    border: 2px solid rgb(16, 11, 11);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform:capitalize;
}