* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.Navbar {
    display: flex;
    justify-content: space-between;
}

.link ul {
    display: flex;
    list-style: none;
    margin: 4px;

}

.link ul li {
    margin: 15px;

}

.link ul li a {
    text-decoration: none;
}
#About-link{

    text-decoration: none;
    margin: 0 1rem;
}
#content {
    padding: 4px;
    background-color: aliceblue;
    width: 300px;

}

#about-details {
    display: none;
}


.searchBar {
    margin: 4px;
    padding: 4px;

}

.searchBar .text {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(188, 187, 187);
}

.searchBar #Btn {
    padding: 5px;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid rgb(31, 212, 31);

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.content {
    background: linear-gradient(170deg, rgb(191, 255, 0), yellow);
    width: 600px;
    padding: 10px;
    font-family: cursive;
    /* border: 2px solid red; */
    border-radius: 4px;
}

.Title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Title input {
    padding: 8px;
    width: 400px;
    border-radius: 10px;

}

.Description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Description input {
    padding: 8px;
    width: 400px;
    border-radius: 10px;

}

.Task-Btn {
    display: flex;
    margin: 0px 40px;
    padding: 40px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 200px;
}

.TaskBtn {
    font-size: 20px;
    border-style: none;
    border-radius: 45%;
    /* border-style: dotted; */
    border: 2px solid #4295f5;
    padding: 15px;
    cursor: pointer;
}

.TaskBtn:hover {
    background-color: yellow;
}

.TaskBtn:active {
    background-color: yellowgreen;
}

#todo {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;

}

.card {
    color: rgb(255, 0, 132);
    border-radius: 5px;
    background-color: rgb(202, 222, 222);
    min-width: 400px;
    text-align: center;
    margin-bottom: 12px;

}

.card p {
    color: rgb(47, 0, 255);
}

.DeleteBtn {
    font-size: 20px;
    border-style: none;
    border-radius: 45%;
    border: 2px solid #4295f5;
    padding: 15px;
    cursor: pointer;
}

.DeleteBtn:hover {
    background-color: yellow;
}

.DeleteBtn:active {
    background-color: yellowgreen;
}